@using WebScrapingUI.Resources;

@{
    ViewBag.Title = Menu.About;
}

<h2>@Menu.About</h2>

<p>
    @Home.WeScrapeText1<br>
    @Home.WeScrapeText2<br>
    @Home.WeScrapeText3<br>
    @Home.WeScrapeText4<br><br>
    @Home.WeScrapeText5 <b>@Home.WeScrapeText6</b> @Home.WeScrapeText7 <b>@Home.WeScrapeText8</b> @Home.WeScrapeText9 <b>@Home.WeScrapeText10</b> @Home.WeScrapeText11
</p>


